.App {
  text-align: center;
}

.role-selection {
  margin-top: 50px;
}

.role-selection h2 {
  margin-bottom: 20px;
}

.role-selection button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 3px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
}

button {
  margin: 10px;
  text-align: center;
}
.highlight-pink {
  background-color: rgb(255, 221, 226);
}

.highlight-green {
  background-color: rgb(202, 255, 202);
}

.highlight-yellow {
  background-color: rgb(254, 255, 189);
}

.color-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
